body{
    padding: 50px;
    font-family: sans-serif;
 }

 #modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
 }

 #modal{
    max-width: 50ch;
    min-width: 45ch;
    text-align: center;
 }

 #modal button{


  background-color: #198754;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  

 }
