.fondo {
    background: url('./fondo2.jpeg');
    /*-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;*/
    background-repeat: no-repeat;
    background-position: 0 10%;
    height: 600px;
    
  }